* {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
}

.body {
    background-color:rgb(243, 210, 216);
}

.round-borders {
    border-radius: 200%;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    float: left;
}

.right {
    float: right;
}

.intro {
    margin-top: 4em;
}

.illustration {
    margin: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;

}

.characters {
    border-radius: 35px;
    width: 50%;
}

.eyes {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1ex;
    font-size: 3em;
    justify-content: space-around;
    border-radius: 50%
}

.kevinglasses {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6.2ex;
    margin-right: 0.6em;
    font-size: 1em;
    border-radius: 50%;
}

.left-glasses {
    height: 2em;
    width: 2.1em;
    border: 2.5px solid black;
    border-radius: 100%;
}

.left-glasses p {
    width: 50%;
    position: relative;
    top: 0.5em;
    float: right;
    border-radius: 400%;
}

.right-glasses p {
    width: 50%;
    position: relative;
    top: 0.5em;
    float: left;
    margin-left: 0.4em;
    border-radius: 400%;
}

.right-glasses {
    height: 2em;
    width: 2.1em;
    border: 2.5px solid black;
    border-radius: 100%;
}

.center-glasses {
    height: 0em;
    width: 1.4em;
    border-bottom: 2.5px solid black;
}

.smile {
    position: relative;
    top: -.3em;
    width: 1.5em;
    height: 0.75em;
    border: 2.5px solid black;
    border-radius: 20px 20px 100px 100px;
    margin-right: 2.5em;
    margin-left: 2.3em
}

.smile-bottom {
    position: relative;
    top: -.6em;
    width: 1em;
    height: 0.50em;
    border: 2.5px solid black;
    border-top: 3px solid transparent;
    border-radius: 20px 20px 100px 100px;
    margin-right: 3em;
    margin-left: 2em;
}

.legs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: relative;
    top: 1.1em;
}

.leg {
    height: 3em;
    width: 1em;
    border: 3.5px solid;
    border-top: 0px;
    border-bottom: 0px;
}

.foot {
    position: relative;
    top: 2.4em;
    height: 1.25em;
    width: 2em;
    border: 3.5px solid;
    border-radius: 100%;
}

.laurafoot {
    left: -1.2em;
    border-color: rgb(236, 99, 131)
}

.kevinfoot {
    left: -0.2em;
    border-color: rgb(102, 26, 26);
}

.lauraleg {
    position: relative;
    top: -0.4em;
    border-color: rgb(236, 99, 131);
}

.kevinleg {
    border-color: rgb(102, 26, 26);
}

.arms {
    position: relative;
    left: -2.2em;
    width: 143%;
    justify-content: space-between;
}

.arm {
    height: 3em;
    width: 1em;
    border: 3.5px solid;
    border-radius: 0px 0px 30px 30px;
    border-top: 0px;
}

.lauraarm {
    border-color: rgb(236, 99, 131);
}

.lauraarm.leftarm {
    z-index: 0;
    transform: rotate(30deg);
}

.kevinarm.leftarm {
    transform: rotate(30deg);
    animation: kevinarm 4s infinite;
}

.lauraarm.rightarm {
    transform: rotate(-30deg);
}

.kevinarm.rightarm {
    transform: rotate(-30deg);
}

@keyframes kevinarm {
    0%   {transform: translate(0, 4px) rotate(30deg) ;}
    50%  {transform: translate(-7px,-35px) rotate(130deg) ;}
    100% {transform: translate(0, 4px) rotate(30deg);}
}

.kevinarm {
    border-color: rgb(102, 26, 26);
}


.kevin {
    height: 10em;
    width: 10.5em;
    border: 3.5px solid rgb(102, 26, 26);
    /* background-color: rgb(102, 26, 26); */
}

.laura {
    height: 9.5em;
    width: 10.5em;
    border: 3.5px solid rgb(236, 99, 131);
    /* background-color:rgb(247, 180, 195); */
}

.fillbody {
    z-index: -1;
    position: relative;
    top: -9.4em;
    left: 0.8em;
    height: 9.5em;
    width: 11em;
}

.lauracolor {
    background-color: rgb(247, 180, 195)
}

.kevincolor {
    background-color: rgb(191, 163, 163)
}
