* {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
}

.gamja-flower-regular {
    font-family: "Gamja Flower", serif;
    font-weight: 400;
    font-style: normal;
  }


.body {
    background-color:rgb(243, 210, 216);
}

.round-borders {
    border-radius: 200%;
}

.space-above {
    margin-top: 5em;
}

.pagesection {
    height: 100vh;
}

.playground .pagesection p {
    margin-top: 1em;
}

.smallcontent {
    width: 50vw;
    margin: auto;
    overflow-x: hidden;
}

.center-block {
    margin: auto;
}

.center-flex {
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    float: left;
}

.right {
    float: right;
}

.intro h1 {
    margin-top: 0.25em;
}

.hithere {
    justify-content: center;
    align-content: start;
    height: 1.6em;
}

.sweetkevin {
    font-size: 1.3em;
    margin: 0.25em;
    margin-bottom: 0.5em;
}

.hearts {
    font-size: 1.5em;
    color: rgb(245, 92, 125);
}

.one {
    animation: hearts1 2.5s infinite;
}

.two {
    animation: hearts2 2.5s infinite;
    animation-delay: 250ms;
}

.three {
    animation: hearts3 2.5s infinite;
    animation-delay: 500ms;
}

.four {
    animation: hearts4 2.5s infinite;
    animation-delay: 500ms;
}

.five {
    animation: hearts5 2.5s infinite;
    animation-delay: 250ms;
}

.six {
    animation: hearts6 2.5s infinite;
}

@keyframes hearts1 {
    0%   {transform: translate(0,0) rotate(0);}
    50% {transform: translate(-17px,-25px) rotate(-40deg);}
    75% {font-size: 0em;}
    90% {color: transparent;}
    91% {transform: translate(0,0)}
    92% {font-size: 1.5em; color:rgb(236, 99, 131);}
    100% {font-size: 1.5em;}
}

@keyframes hearts2 {
    0%   {transform: translate(0,0) rotate(0);}
    50% {transform: translate(-14px,-25px) rotate(-35deg);}
    75% {font-size: 0em;}
    90% {color: transparent;}
    91% {transform: translate(0,0)}
    92% {font-size: 1.5em; color:rgb(236, 99, 131);}
    100% {font-size: 1.5em;}
}

@keyframes hearts3 {
    0%   {transform: translate(0,0) rotate(0);}
    50% {transform: translate(-11px,-25px) rotate(-30deg);}
    75% {font-size: 0em;}
    90% {color: transparent;}
    91% {transform: translate(0,0)}
    92% {font-size: 1.5em; color:rgb(236, 99, 131);}
    100% {font-size: 1.5em;}
}

@keyframes hearts4 {
    0%   {transform: translate(0,0) rotate(0);}
    50% {transform: translate(11px,-25px) rotate(30deg);}
    75% {font-size: 0em;}
    90% {color: transparent;}
    91% {transform: translate(0,0)}
    92% {font-size: 1.5em; color:rgb(236, 99, 131);}
    100% {font-size: 1.5em;}
}

@keyframes hearts5 {
    0%   {transform: translate(0,0) rotate(0);}
    50% {transform: translate(14px,-25px) rotate(35deg);}
    75% {font-size: 0em;}
    90% {color: transparent;}
    91% {transform: translate(0,0)}
    92% {font-size: 1.5em; color:rgb(236, 99, 131);}
    100% {font-size: 1.5em;}
}

@keyframes hearts6 {
    0%   {transform: translate(0,0) rotate(0);}
    50% {transform: translate(17px,-25px) rotate(40deg);}
    75% {font-size: 0em;}
    90% {color: transparent;}
    91% {transform: translate(0,0)}
    92% {font-size: 1.5em; color:rgb(236, 99, 131);}
    100% {font-size: 1.5em;}
}

.illustration {
    margin: 14em;
    margin-top: 5em;
    margin-bottom: -1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;

}

.characters {
    border-radius: 35px;
    width: 50%;
}

.eyes {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1ex;
    font-size: 3em;
    justify-content: space-around;
    border-radius: 50%
}

@keyframes kevinglasses {
    0%   {transform: translate(0, 0) rotate(0);}
    65%  {transform: translate(0, 0) rotate(0);}
    70%  {transform: translate(0,-7px) rotate(-3deg);}
    75%  {transform: translate(0, 2px) rotate(1deg);}
    80%  {transform: translate(0,-5px) rotate(-2deg);}
    85%  {transform: translate(0, 2px) rotate(1deg);}
    90%  {transform: translate(0, -3px) rotate(-1deg);}
    95%  {transform: translate(0, 1px) rotate(0);}
    100% {transform: translate(0, 0) rotate(0);}
}

.kevinglasses {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6.2ex;
    margin-right: 0.6em;
    font-size: 1em;
    border-radius: 50%;
    animation: kevinglasses 4s infinite;
}

.left-glasses {
    height: 2em;
    width: 2.1em;
    border: 2.5px solid black;
    border-radius: 100%;
}

.left-glasses p {
    width: 50%;
    position: relative;
    top: 0.5em;
    float: right;
    border-radius: 400%;
}

.right-glasses p {
    width: 50%;
    position: relative;
    top: 0.5em;
    float: left;
    margin-left: 0.4em;
    border-radius: 400%;
}

.right-glasses {
    height: 2em;
    width: 2.1em;
    border: 2.5px solid black;
    border-radius: 100%;
}

.center-glasses {
    height: 0em;
    width: 1.4em;
    border-bottom: 2.5px solid black;
}

.smile {
    position: relative;
    top: -.3em;
    width: 1.5em;
    height: 0.75em;
    border: 2.5px solid black;
    border-radius: 20px 20px 100px 100px;
    margin-right: 2.5em;
    margin-left: 2.3em
}

.smile-bottom {
    position: relative;
    top: -.6em;
    width: 1em;
    height: 0.50em;
    border: 2.5px solid black;
    border-top: 3px solid transparent;
    border-radius: 20px 20px 100px 100px;
    margin-right: 3em;
    margin-left: 2em;
    animation: kevinglasses 4s infinite;
}

.legs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: relative;
    top: 1.1em;
}

.leg {
    height: 3em;
    width: 1em;
    border: 3.5px solid;
    border-top: 0px;
    border-bottom: 0px;
}

.foot {
    position: relative;
    top: 2.4em;
    height: 1.25em;
    width: 2em;
    border: 3.5px solid;
    border-radius: 100%;
}

.laurafoot {
    left: -1.2em;
    border-color: rgb(236, 99, 131);
    background-color: rgb(236, 99, 131)
}

.kevinfoot {
    left: -0.2em;
    border-color: rgb(102, 26, 26);
    background-color: rgb(102, 26, 26);
}

@keyframes lauraleg {
    0%   {transform: translate(0, 4px) rotate(0) ;}
    70%  {transform: translate(-17px,0px) rotate(40deg) ;}
    100% {transform: translate(0, 4px) rotate(0);}
}

.lauraleg {
    position: relative;
    top: -0.4em;
    border-color: rgb(236, 99, 131);
    animation: lauraleg 3s infinite;
}

@keyframes kevinleg {
    0%   {transform: translate(0,0) rotate(0);}
    50%  {transform: translate(17px,0px) rotate(-40deg);}
    100% {transform: translate(0,0) rotate(0);;}
}

.left.kevinleg {
    animation: kevinleg 4s infinite;
}

.kevinleg {
    border-color: rgb(102, 26, 26);
}

.arms {
    position: relative;
    left: -2.2em;
    width: 143%;
    justify-content: space-between;
}

.arm {
    height: 3em;
    width: 1em;
    border: 3.5px solid;
    border-radius: 0px 0px 30px 30px;
    border-top: 0px;
}

.lauraarm {
    border-color: rgb(236, 99, 131);
}

.lauraarm.leftarm {
    z-index: 0;
    transform: rotate(30deg);
    animation: kevinarm 6s infinite;
    animation-delay: 250ms;
}

.kevinarm.leftarm {
    transform: rotate(30deg);
    animation: kevinarm 4s infinite;
}

.lauraarm.rightarm {
    transform: rotate(-30deg);
    animation: lauraarm 6s infinite;
    animation-delay: 250ms;
}

.kevinarm.rightarm {
    transform: rotate(-30deg);
    animation: lauraarm 4s infinite;
}

@keyframes kevinarm {
    0%   {transform: translate(0, 4px) rotate(30deg) ;}
    50%  {transform: translate(-7px,-35px) rotate(130deg) ;}
    100% {transform: translate(0, 4px) rotate(30deg);}
}

@keyframes lauraarm {
    0%   {transform: translate(0, 4px) rotate(-30deg) ;}
    50%  {transform: translate(7px,-35px) rotate(-120deg) ;}
    100% {transform: translate(0, 4px) rotate(-30deg);}
}

.kevinarm {
    border-color: rgb(102, 26, 26);
}

.kevin {
    height: 10em;
    width: 10.5em;
    border: 3.5px solid rgb(102, 26, 26);
}

@keyframes laurabody {
    0%   {transform: translate(0, 4px) rotate(0deg) ;}
    70%  {transform: translate(-15px,-40px) rotate(10deg) ;}
    80%  {transform: translate(0px,4px);}
    85%  {transform: translate(0px,-6px);}
    90%  {transform: translate(0px,4px);}
    95%  {transform: translate(0px,-2px)  ;}
    100% {transform: translate(0, 4px) rotate(0deg);}
}

@keyframes laurawiggle {
    0%   {transform: translate(0, 4px) rotate(0deg) ;}
    25%  {transform: translate(-10px,-10px) rotate(-10deg) ;}
    50%   {transform: translate(0, 4px) rotate(0deg);}
    75%   {transform: translate(-10px, -10px) rotate(10deg);}
    100%   {transform: translate(0, 4px) rotate(0deg) ;}
}

@keyframes lauraleftlegwiggle {
    0%   {transform: translate(0,0) rotate(0);}
    25%  {transform: translate(-10px, 10px) rotate(10deg) ;}
    50%   {transform: translate(0,0) rotate(0);}
    75%  {transform: translate(-10px,0) rotate(40deg);}
    100%  {transform: translate(0 ,0) rotate(0);}
}

@keyframes laurarightlegwiggle {
    0%   {transform: translate(0,0) rotate(0);}
    25%  {transform: translate(10px,0) rotate(-40deg);}
    50%  {transform: translate(0,0) rotate(0);}
    75%  {transform: translate(24px, 8px) rotate(-10deg) ;}
    100%  {transform: translate(0 ,0) rotate(0);}
}

.explore .laura {
    animation: laurawiggle 6s infinite;
    margin-top: 4em;
    margin-bottom: -4em;
}

.explore .lauraarm.leftarm {
    animation: kevinarm 6s infinite;
}

.explore .lauraarm.rightarm {
    animation: lauraarm 6s infinite;
    animation-delay: -3s;
}

.explore .lauraleg.leftleg {
    animation: lauraleftlegwiggle 6s infinite;
}

.explore .lauraleg.rightleg {
    animation: laurarightlegwiggle 6s infinite;
}

.explore .laurafoot {
    left: -0.2em;
}

@keyframes bounce {
    0%   {transform: translate(0, 0) rotate(0);}
    65%  {transform: translate(0, 0) rotate(0);}
    70%  {transform: translate(0,-30px) rotate(-3deg);}
    75%  {transform: translate(0, 2px) rotate(1deg);}
    80%  {transform: translate(0,-20px) rotate(-2deg);}
    85%  {transform: translate(0, 2px) rotate(1deg);}
    90%  {transform: translate(0, -5px) rotate(-1deg);}
    95%  {transform: translate(0, 1px) rotate(0);}
    100% {transform: translate(0, 0) rotate(0);}
}

.explore h1 {
    animation: bounce 5s infinite;
}

.laura {
    height: 9.5em;
    width: 10.5em;
    border: 3.5px solid rgb(236, 99, 131);
    animation: laurabody 3s infinite;
}

.fillbody {
    z-index: -1;
    position: relative;
    top: -9.4em;
    left: 0.8em;
    height: 9.5em;
    width: 11em;
}

.explore .fillbody {
    animation: laurawiggle 6s infinite;
    left: -0.5em;
    top: -5.25em;
}

.lauracolor {
    background-color: rgb(247, 180, 195);
    animation: laurabody 3s infinite;
}

.kevincolor {
    background-color: rgb(191, 163, 163)
}

.button {
    z-index: 1;
    position: relative;
    top: -1em;
    border: 3px solid rgb(120, 83, 83);
    background-color: transparent;
    border-radius: 20%;
    padding: 1em;
}

a:link {
    color: black;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: rgb(245, 92, 125);
    border-color: rgb(245, 92, 125)
  }

.buttonfill {
    z-index: 0;
    position: relative;
    left: 46.7%;
    top: -2.7em;
    width: 6.6em;
    height: 3.5em;
    background-color: rgb(231, 209, 209);
    border-radius: 20%;
}

.thisisus {
    height: 100vh;
    width: 60vw;
    margin: auto;
    overflow-x: hidden;
}

.picturesection {
    justify-content: space-around;
    margin-top: 6em;
}

.border {
    border: 3.5px solid rgb(102, 26, 26)
}

.poloroids {
    margin-top: 7em;
    margin-left: 15em;
    margin-right: 15em;
}

.poloroid {
    font-family: "Gamja Flower";
    font-size: 1.5em;
    border: 3px solid rgb(236, 99, 131);
    background-color: rgb(243, 210, 216);
    border-radius: 4%;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
}

.poloroid img {
    max-width: 100%;
    border: 3px solid rgb(236, 99, 131);
    border-radius: 2%;
    object-fit: contain;
}

@keyframes poloroidleft {
    0%   {transform: translate(0, 4px) rotate(-15deg);}
    70%  {transform: translate(0,-30px) rotate(-20deg) ;}
    80%  {transform: translate(0px,3px)rotate(-15deg);}
    85%  {transform: translate(0px,-6px)rotate(-15deg);}
    90%  {transform: translate(0px,4px)rotate(-15deg);}
    95%  {transform: translate(0px,-2px) rotate(-15deg) ;}
    100% {transform: translate(0, 4px) rotate(-15deg);}
}

.poloroid.leftside {
    position: relative;
    margin-top: 0em;
    transform: rotate(-15deg);
    animation: poloroidleft 4s infinite;
}

@keyframes poloroidright {
    0%   {transform: translate(0, 4px)rotate(15deg);}
    70%  {transform: translate(0,-80px) rotate(20deg) ;}
    80%  {transform: translate(0px,3px)rotate(15deg);}
    85%  {transform: translate(0px,-6px)rotate(15deg);}
    90%  {transform: translate(0px,4px) rotate(15deg);}
    95%  {transform: translate(0px,-2px)  rotate(15deg);}
    100% {transform: translate(0, 4px) rotate(15deg);}
}

.poloroid.rightside {
    position: relative;
    top: -1em;
    transform: rotate(15deg);
    animation: poloroidright 4s infinite;
}

.family-portrait {
    margin-top: 8%;
    align-items: end;
    width: 100%;

}

img.deeno {
    height: 12em;
    margin-bottom: -1.7em;
    transform: scaleX(-1);
}

img.dano {
    margin-left: 1em;
    height: 5em;
    transform: scaleX(-1);
}

img.bartholomew {
    height: 10em;
}

img.tedtwo {
    height: 15em;
}

img.stubby {
    height: 6em;
}

.deenoskate {
    margin-top: 2em;
}

.dinoskate-container {
    margin-bottom: 4em;
}

.dinoskate {
    display: flex;
    flex-direction: column;
    height: 20vh;
    animation: dinoskate 3s infinite;
    animation-timing-function: ease-in;
}

.dinoskate img {
    height: 15vh;
    width: fit-content;
}

.danoskate {
    display: flex;
    flex-direction: column;
    height: 20vh;
    animation: danoskate 3s infinite;
    animation-timing-function: ease-in;
}

.danoskate img {
    height: 12vh;
    width: fit-content;
}

.rollerblades img {
    height: 4.3vh;
    width: fit-content;
}

.dino {
    transform: scaleX(-1);
    margin-top: 2em;
}

.danoskating {
    transform: scaleX(-1);
    margin-top: 4em;
    position: relative;
    right: -41vw;
}

.rollerskate {
    position: relative;
    top: -2.2vh;
    left: 20vw;
}

.skate {
    position: relative;
    top: -8.5vh;
}

.skate-ground {
    width: 100%;
    border-bottom: 2px solid rgb(102, 26, 26);
    box-shadow: 1px 8px 15px rgb(178, 107, 107);
}

img.ted {
    height: 15vh;
}

img.teddy {
    height: 30vh;
}

.board {
    width: 85%;
    height: 1.5em;
    background-color:rgb(118, 82, 55);
    border-radius: 10px 10px 25px 25px;
}

.bears {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

@keyframes seesaw {
    0%   {transform:rotate(-10deg) ;}
    50%   {transform: rotate(10deg) ;}
    100%   {transform: rotate(-10deg) ;}
}


.seesaw {
    animation: seesaw 3s infinite;
}


.seesaw-center {
    position: relative;
    top: -1em;
    width: 4%;
    height: 6em;
    background-color:rgb(118, 82, 55);
    border-radius: 0px 0px 10px 10px;
}

@keyframes dinoskate {
    0% {transform: translate(-10%,0);}
    10% {transform: translate(0,0);}
    30% {transform: translate(2%,0);}
    100% {transform: translate(130%, 0);}
}

@keyframes danoskate {
    0%  {transform: translate(110%, 0);}
    50% {transform: translate(2%,0);}
    60% {transform: translate(0,0);}
    100% {transform: translate(-100%,0);}
}

.divide {
    position: relative;
    margin: auto;
    margin-top: 6.75em;
    width: 100%;
    border-bottom: 2px solid rgb(120, 83, 83);
    box-shadow: 5px 4px 5px rgb(120, 83, 83)
}

.pictureintro {
    width: 50%;
}

.carbut {
    border: none;
}

.carouselpics {
    margin: 20em;
    margin-top: 0;
    max-height: 80vh;
}

.carousel {
    padding: 2em;
    border-radius: 4%;
    width: fit-content;
    height: fit-content;
    gap: 1em;
    background-color: rgb(191, 163, 163);
}


.carousel img {
    width: 30vw;
    border-radius: 2%;
}

.navbutton-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: fit-content;
    height: fit-content;

}

.navbutton {
    z-index: 1;
    border: 3px solid rgb(120, 83, 83);
    background-color: transparent;
    border-radius: 20%;
    padding: 1em;
    width: 100%;
}

.navbuttonfill {
    z-index: -1;
    position: relative;
    left: 13%;
    top: -1.85em;
    width: 100%;
    height: 3.5em;
    background-color: rgb(231, 209, 209);
    border-radius: 20%;
}

.navbuttons {
    width: 50%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
